





<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="index.html" class="site_title"><i class="fa fa-user-secret"></i> <span>Emap</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <!-- menu profile quick info -->


        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>Admin User</h3>
            <ul class="nav side-menu">
              <li> <%= link_to 'Home', admin_index_path %>
              </li>
              <li> <%= link_to 'Users', admin_activation_path %>
              </li>
              <li> <%= link_to 'Jobs', jobs_path %>
              </li>
            </ul>
          </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>


          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Hello! <%= User.find_by(id: session[:user_id]).username %>
                <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><%= link_to 'Log Out', logout_path %></li>
              </ul>
            </li>

            <li role="presentation" class="dropdown">
              <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-green">6</span>
              </a>
              <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                <li>
                  <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                    <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                    <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                    <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                    <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                  </a>
                </li>
                <li>
                  <div class="text-center">
                    <a>
                      <strong>See All Alerts</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" style="height: 600px" role="main">
      <body class="login">
      <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
          <div class="animate form login_form">
            <% flash.each do |type, message| %>
                <div class="message notice">
                  <p>
                    <%= message %>
                  </p>
                </div>
            <% end %>
            <section class="login_content">
              <%= form_for(job) do |f| %>
                                    <h1>Job Request</h1>
                  <div >
                    <%= f.select :priority, ['Very Urgent','Urgent', 'Important','Normal','Less Normal'] , class: "form-control"%>
                  </div>
                  <br/>
                  <div>
                    <%= f.text_field :username,  class: "form-control", placeholder: "Guard/Supervisor Username" %>
                  </div>
                  <div >
                    <%= f.text_field :place,  class: "form-control", placeholder: "Place"  %>
                  </div>
                  <div >
                    <%= f.text_field :message, class: "form-control", placeholder: "Message"  %>
                  </div>

                  <div >
                    <%= f.text_field :assign_by, class: "form-control", placeholder: "Assign By"  %>
                  </div>
                  <div>
                    <%= f.submit "Submit", class: "btn btn-default submit" %>
                  </div>

                  <div class="clearfix"></div>


                    <div class="clearfix"></div>
                    <br />

                  </div>
              <% end %>
            </section>
          </div>

        </div>
      </div>
      </body>

    </div>

    <!-- footer content -->
    <footer>
      <div class="pull-right">

      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>

</body>
